main{
    margin:auto;
    border-collapse: collapse;
}
header{
    background-color: #779dbd;
    height: 100px ;
}
#CONTENT{
    min-height: 300px;
    height: 300px;
}
.left{
    background-color: chartreuse;
    width: 200px;
    float: left;
    height: 300px;
}
.right{
    background-color: cornsilk;
    height: 300px;
    width: calc(100% - 200px);
    float: right;
}
footer{
    background-color: #779dbd;
    height: 80px ;
    text-align: center;
}